.portfolio {
    padding-top: 93px;
    padding-bottom: 139px;
}

.portfolio__title {
    font-size: 24px;
    line-height: calc(29 / 24);
    font-weight: 700;
    margin-bottom: 86px;
}

.portfolio__portfolio-row {
    display: flex;
    gap: 125px;
}

.portfolio__content {
    width: 349px;
    flex-shrink: 0;
}

.portfolio__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: calc(25 / 18);
    margin-bottom: 48px;
}

.portfolio__text {
    font-size: 18px;
    line-height: calc(30 / 18);
}

.portfolio__images {
    padding-top: 54px;
    display: grid;
    grid-template-columns: 349px 255px;
    grid-template-rows: 144px 57px 144px  ;
    gap: 30px;
}

.portfolio__img {
    width: 100%;
}

.portfolio__item-1{

}

.portfolio__item-2 {
    grid-column-start: 1;
}

.portfolio__item-3{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
}
.portfolio__item-4{
    grid-row-start: 3;
    grid-column-start: 2;
}









